/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 80px;
  background-color: #201d2f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 2px solid #50576d;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .tombol .login {
  border: 1px solid #74cdff;
  font-weight: 600;
  padding: 4px 18px;
  margin-right: 12px;
  color: #74cdff;
  border-radius: 15px;
  cursor: pointer;
}

.navbar .tombol .signup {
  cursor: pointer;
  font-weight: 600;
  border-radius: 15px;
  padding: 4px 18px;
  background-color: #74cdff;
  color: #0c0e18;
}

.navbar .navbar-extra #hamburger-menu {
  display: none;
}
